# =====================
# Unreal Engine (generated)
# =====================
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Unreal build ordering files (generated)
Build/**/FileOpenOrder/

# Optional: if you generate packaged builds here
Releases/
*.pak

# =====================
# IDEs / Editors
# =====================
.vs/
.idea/
.vscode/

# Visual Studio / MSBuild
*.sln
*.vcxproj*
*.VC.db
*.VC.opendb
*.suo
*.user

# VS Code
*.code-workspace

# Rider
*.sln.iml

# =====================
# Logs / temp / crash
# =====================
*.log
*.tmp
*.bak

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Configuration files
# =====================
Launcher/asset_overrides.json
Launcher/MCLauncher.runtimeconfig.json